<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Clotter</title>
      {% style "/css/bootstrap.min.css" %}
      {% style "/assets/font-awesome/css/font-awesome.min.css" %}
      {% style "/css/screen.css" %}
  </head>
  <body>

    <form name="input" action="/login" method="POST">
      {% csrf-field %}
      Username: <input type="text" name="user">
      Password: <input type="password" name="pass">
      <input type="submit" value="Submit">
   </form>

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/app.js" %}
  </body>
</html>
